Options +FollowSymLinks -MultiViews
RewriteEngine On

RewriteBase /payroll/

# Remove .php extension with and without trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ $1.php [L,QSA]

RewriteCond %{QUERY_STRING} (.*)/$
RewriteRule ^(.*)$ /$1?%1 [L,R=301]

RewriteRule ^pay-salary/(.*)/(.*)/(.*)/ manage-salary.php?emp_code=$1&month=$2&year=$3
RewriteRule ^pay-salary/(.*)/(.*)/(.*) manage-salary.php?emp_code=$1&month=$2&year=$3

IndexIgnore *	
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ 404.php [L]